{% extends 'pages/base.html' %}

{% block contents %}
<section class="intro">
    <div class="text">
        Let your skin glow
    </div>
</section>
<!-- add  slider -->
<section class="products">
    <div class="container">
        <div class="col-lg-8">
            <h4>Our Products</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad natus modi iste vel distinctio repudiandae qui impedit, perferendis ut, ipsa delectus minima id voluptatum quibusdam animi tempore iure quae laboriosam tempora numquam placeat, laudantium amet!</p>
        </div>
    </div>
</section>

<section class="most-wanted mt-45">
<div class="container">
    <h4>ZEN Organic Most Prefered</h4>
    <h6>Our Bestsellers</h6>
    <div class="row">
        
    </div>
</div>
</section>
{% endblock contents %}
    