{% extends 'pages/base.html' %}

{% block contents %}
<!-- add  slider -->
<section class="products">
    <div class="container">
        <div class="col-lg-4">
            <h4>Our Products</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad natus modi iste vel distinctio repudiandae qui impedit, perferendis ut, ipsa delectus minima id voluptatum quibusdam animi tempore iure quae laboriosam tempora numquam placeat, laudantium amet!</p>
        </div>
    </div>
</section>
{% endblock contents %}
    